#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

INSTALLS=$(shell paste -s -d ',' debian/install-packages)
REMOVES=$(shell paste -s -d ',' debian/remove-packages)

%:
	dh $@ 

override_dh_gencontrol:
	dh_gencontrol -- -Vceibal:Depends="${INSTALLS}" -Vceibal:Removes="${REMOVES}"
